@model MarconnetDotFr_2018.Models.Entities.WorkModel

@{
    ViewBag.Title = "Standard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <div>
        <div>
            <img class="work-image-cover" data-src="<%= work.Image %>" alt="" />
        </div>

        <div>
            <h2>@Model.Title</h2>
            @Model.Subtitle
            @if (!string.IsNullOrEmpty(@Model.Link))
            {
                <br />
                <a href="@Model.Link"> Github</a>
            }
        </div>
    </div>

    <div class="row white">
        <h1 class="centered">Description</h1>
        @Html.Raw(@Model.Content)
    </div>

    <div>
        <h1>Screenshots</h1>
        @foreach (string screenshot in @Model.Screenshots)
        {
            <div class="work-screenshot @(@Model.Screenshots.Count == 1 ? "work-screenshot-alone" : "")">
                <img class="work-image-cover" data-src="@screenshot" alt="" />
            </div>
        }
    </div>

</div>

